asgiref
certifi
crispy-bootstrap5
distlib
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
Markdown
MouseInfo
numpy
pillow
pipenv
platformdirs
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dotenv
pytweening
setuptools
sqlparse
tzdata
virtualenv